*{
    margin: 0;
    padding: 0;
    text-align: center;
}
/* body{
    background-color: burlywood;
} */

/* Heading */
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;

    /* By doing this we can place entire content in center */
    line-height: 5rem;
}

/* Styling of images and choices */
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    /* By giving in rem ,we can easily dispaly our content in any device*/
    gap: 3rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}


/* Styling score-board */
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}


/* Styling content part */
.msg-container{
    margin-top: 3rem;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 0.5rem;
    border-radius: 1rem;
}